/* Animation classes */

.fade-in-down {
    animation: fade-in-down 0.2s ease-out forwards;
}

.fade-out-up {
    animation: fade-out-up 0.2s ease-out forwards;
}

.fade-out-down {
    animation: fade-out-down  0.2s ease-out forwards;
}

.fade-in {
    animation: fade-in 0.2s linear forwards;
}

.fade-out {
    animation: fade-out 0.2s linear forwards;
}

.scroll-hidden {
	visibility: hidden;	
}

.animate-hidden {
	visibility: hidden;
}

/*Animation definitions */
@keyframes fade-in-down {
    from {
        opacity: 0; 
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-up {
    from {
        opacity: 1; 
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@keyframes fade-out-down {
    from {
        opacity: 1; 
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fade-in {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0;
    }
}