:root {
	--primary: #ffffff;
	--secondary: #191919;
	--tertiary: #ededed;
	--secondary-contrast: #333333;
  }

/* Size all elements as border-box */

* {
	box-sizing: border-box;
}

/* Image rendering */
img {
	display: block;
	image-rendering: auto;
	max-width: 100%;
}

/* HTML objects */

#header {
	display: none;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20px;
	background-color: var(--primary);
	top: 0;
    left: 0;
	width: 100%;
	height: 75px;
}
  
body, span {
	color: var(--secondary-contrast);
	font-size: 12px;
	margin: 0;
	letter-spacing: 1.3px;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
	display: block;
}

body {
	margin-top: 5%;
	margin-bottom: 5%;
}

h1, h2 {
	font-size: 16px;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	letter-spacing: 1.3px;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul  {
	padding-left: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

li {
	display: inline-block;
	margin: 20px;
}

h1, h2 {
	color: var(--secondary-contrast);
	font-size: 16px;
	display: inline-block;
	letter-spacing: 1.5px;
}

a, a:link {
	color: var(--secondary-contrast);
	text-decoration: none; 
}

main {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
	padding-top: 20px;
	margin-top: 75px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

footer {
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 20px;
	padding-top: 20px;	
	overflow: hidden;
}

/* Element classes */

.section-header {
	text-transform: uppercase;
	padding-top: 40px;
	margin-bottom: 20px;
	border-top: solid 1px var(--tertiary);
}

.section-header:first-of-type {
	border: none;
}

.date, .author {
	font-style: italic;
}

.underlined {
	display: inline-block;
	position: relative;
	letter-spacing: 1.5px;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;
}

.underlined::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--secondary);
	opacity: 0;
	transition: opacity ease-out 0.2s;
}

.underlined:hover::before {
	opacity: 1;
}

.fading {
	transition: opacity ease-out 0.2s;
}

.fading:hover {
	opacity: 0.5;
}

/* Icon formatting */
.icon {
	pointer-events: none;
	fill: var(--secondary);
	text-align: center;
	width: 28px;
	height: 28px;
	opacity: 1;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}

.iconbutton {
	cursor: pointer;
	outline: none;
	border: none;
	background: none;	
	transition: opacity ease-out 0.2s;
}

.iconbutton:hover {
	opacity: 0.5;
}

/* Element id's */

#logo {
	float: left;
	max-height: 75px;
}

#menu-toggle {
	float: right;
	margin-top: 21.5px;
	margin-bottom: 21.5px;
}

#close {
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
}

#accept {
	display: inline-block;
	clear: both;
}

#nav-primary {
	font-size: 22px;
	display: none;
	text-align: center;
	border: none;
	position: relative;
	z-index: auto;
	top: auto;
	right: auto;
	width: 100%;
}

#nav-primary ul, #nav-primary li {
	display: inline-block;
}

#nav-primary::after, 
#nav-primary::before {
	content: none;
}

#header-mobile {
	position: fixed;
	z-index: 2;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 20px;
	background-color: var(--primary);
	top: 0;
    left: 0;
	width: 100%;
	height: 75px;
}

#nav-mobile ul, #nav-mobile li {
	display: block;
}

#nav-mobile li  {
	text-align: left;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: solid 1px var(--tertiary);
}

#nav-mobile {
	text-align: center;
	width: 100%;
	z-index: 1;
	top: 55px;
	left: 0;
	position: fixed;
	background: var(--primary);
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}

#nav-mobile a {
	color: var(--secondary);
}

#nav-secondary {
	font-size: 12px;
	text-align: center;
	width: 100%;
}

#cookies {
	border: solid 1px var(--tertiary);
	padding: 20px;
	z-index: 2;
	position: fixed;
	background: var(--primary);
	text-align: center;
	top: 100px;
	width: 80%;
	left: 10%;
	height: auto;
}

#three-column-gallery {
	overflow: hidden;
}

#single-column-gallery {
	overflow: hidden;
}

#three-column-thumbnail {
	float: left;
	width: 100%;
	margin-right: 0;
}

#site-information {
	padding-top: 20px;
}


@media (hover: none) {

}


@media (min-width: 767px) {

	body {
		font-size: 16px;
	}

	h1, .title {
		font-size: 18px;
	}
}
@media (min-width: 1279px) {

	main {
		margin-top: 40px;
	}
	
	body {
		font-size: 18px;
	}

	h1, .title {
		font-size: 20px;
	}

	#header {
		display: block;
	}

	.section-header:first-of-type {
		border-top: solid 1px var(--tertiary);
	}

	#nav-primary {
		display: block;
	}

	#nav-secondary {
		width: auto;
		position: absolute;
		right: 5%;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#nav-mobile {
		font-size: 16px;
	}

	#single-column-thumbnail {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	#three-column-thumbnail {
		margin-top: 20px;
		margin-bottom: 20px;
		float: left;
		width: 30%;
		margin-right: 5%;
	}

	#three-column-thumbnail:nth-child(3n) {
		margin-right: 0;
	}

	#cookies {
		width: 60%;
		left: 20%;
	}
}